{% extends 'base.html.twig' %}

{% block title %}A propos de nous{% endblock %}

{% block body %}

<div>
    <h1>A propos de nous</h1>
    <h2>En vrai ca devrais être à propos de moi vu que je suis solo... Quelqu'un veut bien être mon ami AAAH SVP</h2>
</div>
{% endblock %}